src/main/resources/xsd/ReceiveAdvice.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- W3C Schema generated by XMLSpy v2021 (x64) (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="ReceiveAdvice">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Header">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="DeliveryNote" type="xs:string"/>
							<xs:element name="Pedimento" type="xs:string"/>
							<xs:element name="EntryDate" type="xs:string"/>
							<xs:element name="PortOfEntry" type="xs:string"/>
							<xs:element name="DocumentType" type="xs:string"/>
							<xs:element name="Sector" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Items">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="item" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="SKUCode" type="xs:string"/>
										<xs:element name="SKUType" type="xs:string"/>
										<xs:element name="Batch" type="xs:string"/>
										<xs:element name="ProductionOrder" type="xs:string"/>
										<xs:element name="ProductionDate" type="xs:string"/>
										<xs:element name="ReceivedQuantity" type="xs:string"/>
										<xs:element name="StockType">
											<xs:complexType>
											</xs:complexType>
										</xs:element>
										<xs:element name="UnitOfMeasure" type="xs:string"/>
										<xs:element name="CountryOfOrigin">
											<xs:complexType>
											</xs:complexType>
										</xs:element>
										<xs:element name="HSCode" type="xs:string"/>
										<xs:element name="StorageLocation" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
